<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contacts</ion-title>
    <ion-button slot="end" routerLink="./contacts-form"><ion-icon name="person-add-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment color="primary" [(ngModel)]="groups" (ionChange)="segmentChanged($event)">
    <ion-segment-button class="segment-button segment-activated" value="all">
      <ion-label>all</ion-label>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="friends">
      <ion-label>friends</ion-label>
      <ion-icon name="people-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="family">
      <ion-label>family</ion-label>
      <ion-icon name="people-circle-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="groups">
    <ion-list *ngSwitchCase="'all'"> 

      <ion-item [routerLink]="['/contact-details', contact.id]"  *ngFor = 'let contact of contactinfo'>
        
        <ion-avatar slot="start">
          <ion-img src = 'https://www.pngfind.com/pngs/m/470-4703547_icon-user-icon-hd-png-download.png'></ion-img>

        </ion-avatar>
        <ion-label >{{contact.fname}} {{contact.lname}} </ion-label>
      
      </ion-item>
    
    </ion-list>
    <ion-list *ngSwitchCase="'friends'"> 

      <ion-item [routerLink]="['/contact-details', contact.id]" *ngFor = 'let contact of friendcategory'>
        
        <ion-avatar slot="start">
          <ion-img src = 'https://www.pngfind.com/pngs/m/470-4703547_icon-user-icon-hd-png-download.png'></ion-img>
        </ion-avatar>
        <ion-label >{{contact.fname}} {{contact.lname}} </ion-label>
      
      </ion-item>
    
    </ion-list>
    <ion-list *ngSwitchCase="'family'"> 

      <ion-item  [routerLink]="['/contact-details', contact.id]" *ngFor = 'let contact of familycategory'>
        
        <ion-avatar slot="start">
          <ion-img src = 'https://www.pngfind.com/pngs/m/470-4703547_icon-user-icon-hd-png-download.png'></ion-img>

        </ion-avatar>
        <ion-label >{{contact.fname}} {{contact.lname}} </ion-label>
      
      </ion-item>
    
    </ion-list>
    
  </div>
</ion-content>





